.jumbotron{
    background-image: url(131560.jpg);
    background-size: cover;
    height: 700px;
    margin-top: -130px;
}

.card{
    background-color: black;
    color: white;
    padding: 3px;
    transition: 0.5s;
}

.card-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

.card:hover{
  background-color: rgb(223, 165, 39);
  animation: ease-in-out;
}




